
.navbar {
  height: 5em;
  background-color: #31507A;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.navigation-link {
  color: white;
  font-size: 2em;
  display: flex;
}
