.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
}

.submit-button button {
  margin-right: 3.5em;
}